.body{
    background-color: antiquewhite;
}
#header{
    margin:20px 20px 50px 50px;
    font-family: 'Courier New', monospace;
    font-weight: 900;
    text-shadow: 2px 2px 8px grey;
}
#hCart{
    margin: 0 0 0 40%;
}
.col-md-3{
    min-height:500px;
}
.col-md-3:hover{
   background-color: blanchedalmond;
}
.thumbnailImg{
    height:300px !important;
    width: 90%;
    margin: 0 0 0 5%;
}
.itemName{
    margin:5% 10% 2% 10%;
    font-weight: 499;
}
.price{
    margin:0 10%;
    font-weight: 900;
}
.costPrice{
    margin: 0 11%;
    font-weight: 301;
    font-size: small;
    text-decoration: line-through;
}